<%= include ('partials/header'); =%>
<h1>List of Articles</h1>
<ul>
    <% articles.forEach(function(article) { %>
    <li><%= article.title %></li> 
    <% }) %>   
</ul>

<%= include ('partials/footer'); =%>
```
