<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
 
    <h1>Welcome To Jungle Blog</h1>
    <p>Here you can find all the articles that you need to know about the jungle</p>

</body>
</html>



<!-- <%= include ('partials/header'); =%>
    <h1>Welcome To Jungle Blog</h1>
    <p>Here you can find all the articles that you need to know about the jungle</p>
<%= include ('partials/footer'); =%> -->